
@{
    ViewBag.Title = "LoiHeThong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a style="text-align:center;font-size:18px;color:#4679f2;margin-top:20px;margin-left:25%;margin-right:auto;width:60%">Lỗi không truy nhập vào dữ liệu. Vui lòng liện hệ với quản trị hệ thống!  </a>

